@model Aldente.DTOs.PlatilloDTO
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Agregar platillo";
}

<p class="ftfoodsecret-regular ftsize-65 fw-bold mt-5 mb-3 text-center">Agregar platillo</p>

<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="alert alert-warning"></div>
    <div>
        <div class="shadow rounded-4 p-1 mb-2 mx-auto w-25">
            <img id="ImgSelected" src="/assets/images/burger-2013191_1280.png" class="img-fluid rounded-4" />
        </div>
        <div class="w-100 text-center my-4">
            <label for="ImgSelector">
                <div class="my-2 btnorange-sam p-2 px-4 mx-auto ftfoodlist-regular" style="cursor: pointer;">
                    Seleccionar archivo
                    <input id="ImgSelector" asp-for="Img" style="display: none;" onchange="previewImage(event);" type="file" required/>
                </div>
            </label>
            <span asp-validation-for="Img" class="text-danger"></span>
        </div>
    </div>
    <div class="my-5">
        <h2 class="ftfoodsecret-regular fw-bold">Generalidades</h2>
        <div class="lineseparator"></div>
        <div class="row my-4">
            <div class="col-lg-6">
                <input asp-for="Nombre" class="textbox-sam p-3 m-1 fw-bold ftfoodsecret-regular ftsize-22" placeholder="Nombre del platillo" required />
                <span asp-validation-for="Nombre" class="text-danger"></span>
                <textarea asp-for="Descripcion" class="textbox-sam p-3 m-1 fw-bold ftfoodsecret-regular ftsize-22" placeholder="Descripcion" rows="8"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="col-lg-6">
                <select name="categoria" id="categoria" aria-placeholder="Seleccionar"
                class="w-100 textbox-sam p-3 m-1 fw-bold ftfoodsecret-regular ftsize-22 dropdown-sam" onchange="changeSubCatsElems();">
                    <option disabled selected>Categoria</option>
                    @foreach (var cat in ViewBag.Categorias)
                    {
                        <option value="@cat.Id">@cat.Nombre</option>
                    }
                </select>
                <input asp-for="CategoriaInt" style="display: none;" id="categoria_input" />
                <span asp-validation-for="CategoriaInt" class="text-danger"></span>
                <select name="subcategoria" id="subcategoria" aria-placeholder="Seleccionar"
                class="w-100 textbox-sam p-3 m-1 fw-bold ftfoodsecret-regular ftsize-22 dropdown-sam" onchange="changeSubcatInt();" disabled>
                    <option disabled selected>Subcategoria</option>
                </select>
                <input asp-for="SubCategoiaInt" style="display: none;" id="subcategoria_input" />
                <span asp-validation-for="SubCategoiaInt" class="text-danger"></span>
                <input type="number" step=".01"  asp-for="Precio" class="textbox-green-sam p-3 m-1 fw-bold ftfoodsecret-regular ftsize-22" placeholder="Precio" required />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="my-5">
        <h2 class="ftfoodsecret-regular fw-bold">Dimensiones</h2>
        <div class="lineseparator"></div>
        <div class="row my-4">
            <div class="col-lg-4">
                <select name="tamanio" id="tamanio" aria-placeholder="Seleccionar" asp-for="Tamanio"
                class="w-100 textbox-sam p-3 m-1 fw-bold ftfoodsecret-regular ftsize-22 dropdown-sam">
                    <option disabled selected>Tamaño</option>
                    <option value="Grande">Grande</option>
                    <option value="Mediano">Mediano</option>
                    <option value="Chico">Chico</option>
                </select>
                <span asp-validation-for="Tamanio" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <input type="number" min="1" step="1" placeholder="Propocion" asp-for="Proporcion"
                class="textbox-sam p-3 m-1 fw-bold ftfoodsecret-regular ftsize-22" required />
                <span asp-validation-for="Proporcion" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <select name="unidad" id="unidad" aria-placeholder="Seleccionar" asp-for="Unidad"
                class="w-100 textbox-sam p-3 m-1 fw-bold ftfoodsecret-regular ftsize-22 dropdown-sam">
                    <option disabled selected>Unidad</option>
                    <option value="Oz">Oz</option>
                    <option value="Gr">Gr</option>
                    <option value="Ml">Ml</option>
                </select>
                <span asp-validation-for="Unidad" class="text-danger"></span>
            </div>
        </div>
        <div class="row my-5 justify-content-center">
            <a asp-action="Show" class="btn-sam btngray-sam w-25 m-2 text-center">Cancelar</a>
            <input type="submit" value="Registrar" class="btnsuccess-sam w-25 m-2" required />
        </div>
    </div>
</form>

<script>
    function changeSubCatsElems() {
        const subCats = @Html.Raw(Json.Serialize(ViewBag.SubCategorias));
        var selectP = document.getElementById("categoria");
        var selectS = document.getElementById("subcategoria");
        selectS.removeAttribute("disabled");
        $("#subcategoria").empty();
        selectS.options.add(new Option("Subcategoria", "", false, true));
        selectS.options[0].disabled = true;
        for (var e in subCats) {
            if (subCats[e].categorias_Id.id == selectP.value) {
                selectS.options.add(new Option(subCats[e].nombre, subCats[e].id));
            }
        }
        document.getElementById("categoria_input").value = selectP.value;
    }

    function changeSubcatInt() {
        document.getElementById("subcategoria_input").value = document.getElementById("subcategoria").value;
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
