@model IEnumerable<Aldente.Data.Entities.Restaurante>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model) {
<div>
    <div class="img">
        <img class="" src="data:;base64,@(Convert.ToBase64String(item.Logo))" alt="Card image cap">
    </div>
    <div class="cuerpo">
        <h5>@item.Nombre</h5>
    </div>
</div>
}
