@model Aldente.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="w-100 text-center my-5">
    <h1 class="ftfoodsecret-regular fw-bold ftsize-85">ACCESO AL SISTEMA</h1>
</div>

<div class="my-3 mb-5 mx-auto col-lg-5 rounded shadow-lg p-5">
    <form asp-action="Login">
        <div asp-validation-summary="ModelOnly" class="alert alert-warning ftfoodsecret-regular"></div>
        <div>
            <input asp-for="Email" class="textbox-sam ftfoodsecret-regular p-3 ftsize-22 my-4" placeholder="Nombre de usuario" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Password" class="textbox-sam ftfoodsecret-regular p-3 ftsize-22 my-4" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Recuerdame" /> @Html.DisplayNameFor(model => model.Recuerdame)
            </label>
        </div>
        <button type="submit" class="btnlogin-sam my-4 w-100">Ingresar</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
