@model Aldente.Models.SingInModel

@{
    ViewData["Title"] = "Registro";
}

<div class="w-100 text-center my-5">
    <h1 class="ftfoodsecret-regular fw-bold ftsize-85">REGISTRO EN EL SISTEMA</h1>
</div>

<div class="w-100 text-center my-1">
    <p class="ftfoodsecret-regular fw-bold ftsize-35">Tus credenciales</p>
    <hr />
</div>

<div class="my-3 mb-5 mx-auto col-lg-5 rounded shadow-lg p-5">
    <form asp-action="SingIn">
        <div asp-validation-summary="ModelOnly" class="alert alert-warning"></div>
        <div>
            <input asp-for="Email" class="textbox-sam ftfoodsecret-regular p-3 ftsize-22 my-4" placeholder="Correo" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <input asp-for="Password"class="textbox-sam ftfoodsecret-regular p-3 ftsize-22 my-4" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <input type="submit" value="Registrarme" class="btnlogin-sam my-4 w-100" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
